// src/Styles/abstracts/_fonts.scss

@font-face {
  font-family:'Poppins';
  font-weight: 400;  // Regular
  font-style: normal;
  src: url('../../assets/Font/Poppins/Poppins-regular.ttf') format('truetype');
}

@font-face {
  font-family:'Poppins';
  font-weight: 500;  // Medium
  font-style: normal;
  src: url('../../assets/Font/Poppins/Poppins-medium.ttf') format('truetype');
}

@font-face {
  font-family:'Poppins';
  font-weight: 600;  // Semibold
  font-style: normal;
  src: url('../../assets/Font/Poppins/Poppins-semibold.ttf') format('truetype');
}

@font-face {
  font-family:'Poppins';
  font-weight: 700;  // Bold
  font-style: normal;
  src: url('../../assets/Font/Poppins/Poppins-bold.ttf') format('truetype');
}

body {
  font-family: 'Poppins', Arial, sans-serif;
}

