
$font-family: 'Poppins', sans-serif;
$inputFontSize : 18px;
$titleSize : 28px;
$button-blue:#2e56db;
$primary-color: #1976d2;
$danger-color: #e53935;
$light-gray: #f5f5f5;
$card-bg: #ffffff;
$text-dark: #333;
$primary-blue: #2563eb;
$green: #10b981;
$red: #ef4444;
$amber: #f59e0b;
$gray-light: #f9fafb;
$gray-dark: #1f2937;


$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;

// text-color
$text-white:white;


// Font Sizes
$font-xs: 0.75rem;    // 12px
$font-sm: 0.875rem;   // 14px
$font-md: 1rem;       // 16px (base)
$font-lg: 1.125rem;   // 18px   
$font-xl: 1.25rem;    // 20px
$font-2xl: 1.5rem;    // 24px
$font-3xl: 1.875rem;  // 30px
$font-4xl: 2.25rem;   // 36px
$font-5xl: 3rem;      // 48px
$font-6xl: 4rem;      // 64px


$font-regular: 400;
$font-semibold:600;
$font-medium:500;
$font-bold:700;
// background
$bg-button-yellow:#ff9f00;
$bg-button-orange:#fb641b;