@use "../abstracts/index" as *;

.order-confirmation {
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  background: $bg-black;
  border: 1px solid;
  text-align: center;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;

  .icon-success {
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    color: $text-white;
    margin-bottom: 2rem;
  }

  .back-home-btn {
    padding: 0.75rem 2rem;
    background-color: $bg-black;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color:$bg-black
    }
  }
}
